
@*This is the last page in the "place order" process and just shows a confirmation screen that the order has been placed.*@
@{
    ViewBag.Title = "OrderSubmitted";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2><em>Thank you!</em></h2>
<br />
<p><strong>Thank you so much for your business. Your order has been submitted and should be delivered in 3-5 business days.</strong></p>

