@model StoreFront.Data.User
@using StoreFront.Data;

@{
    ecommerceEntities db = new ecommerceEntities();
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    var username = HttpContext.Current.User.Identity.Name;
    User user = db.Users.Where(a => a.UserName == username).FirstOrDefault();

}

<h2>Information</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @username
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
            
        </dt>
        <dd>
            @user.EmailAddress
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Home", "Index")
</p>
